<div id="history" class="history-section">
    <div class="history-title">Photo 1: crime books</div>
    <div class="api-box">
        <img src="https://images.squarespace-cdn.com/content/v1/5876279bbebafb82a7c81c00/f4e17d6a-81db-4a04-9bda-63c86c517778/IMG_3105.jpg"
             alt="Placeholder Image of Books">
    </div>

    <div class="history-title">Photo 2: George Orwell and classic literature</div>
    <div class="api-box">
        <img src="https://images.squarespace-cdn.com/content/v1/5876279bbebafb82a7c81c00/f4e17d6a-81db-4a04-9bda-63c86c517778/IMG_3105.jpg"
             alt="Placeholder Image of Books">
    </div>

    <div class="history-title">Photo 3: Agatha Christie</div>
    <div class="api-box">
        <img src="https://images.squarespace-cdn.com/content/v1/5876279bbebafb82a7c81c00/f4e17d6a-81db-4a04-9bda-63c86c517778/IMG_3105.jpg"
             alt="Placeholder Image of Books">
    </div>

    <div class="history-title">Photo 4: history books</div>
    <div class="api-box">
        <img src="https://images.squarespace-cdn.com/content/v1/5876279bbebafb82a7c81c00/f4e17d6a-81db-4a04-9bda-63c86c517778/IMG_3105.jpg"
             alt="Placeholder Image of Books">
    </div>

    <div class="history-title">Photo 5: cooking books</div>
    <div class="api-box">
        <img src="https://images.squarespace-cdn.com/content/v1/5876279bbebafb82a7c81c00/f4e17d6a-81db-4a04-9bda-63c86c517778/IMG_3105.jpg"
             alt="Placeholder Image of Books">
    </div>

    <!-- Add space at the end of the history section -->
    <div style="height: 200px;"></div>
</div>